html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background body-profiel")
            //- img(src=`${weather}`)
            section
                img(src=`${imgUrl}`)
                article
                    h2 #{naam}
                    p Email: #{email}
                    p Age: #{age}
                    p Gender: #{gender}
                    p Favorite food: #{food}
                    p Is looking for: #{pref}
                form(action='/profiel/image' accept="image/x-png,image/gif,image/jpeg" method="POST" enctype="multipart/form-data")
                        label(for="image") Change photo
                        input(type='file' required="required" name="image")
                        button(type="submit") Change
                form(action="/profiel/delete" method="POST")
                        label Delete account
                        button(type="submit") Delete
        include partials/tags.pug
        
