html(lang="en")
    include partials/head.pug
    body(class="body-profiel")
        include partials/navbar.pug
        main(class="main-background")
            //- img(src=`${weather}`)
            section
                img(src=`${imgUrl}`)
                article
                    h2 Hobby
                    p Hobby: #{hobby}
                    
                article
                    h2 Gegevens
                    p email: #{email}
                    p Naam: #{naam}
                    p Gender: #{gender}
                article
                    h2 Games
                    p 2
                form(action="/profiel/hobby" method="POST")
                        label(for="hobby") Voeg hobby toe
                        input(id="hobby" required="required" name="hobby" placeholder="+")
                        button(type="submit") Voeg toe
                form(action="/profiel/gender" method="POST")
                        label(for="gender") Voeg gender toe
                        input(id="gender" required="required" name="gender" placeholder="+")
                        button(type="submit") Voeg toe
                form(action='/profiel/image' accept="image/x-png,image/gif,image/jpeg" method="POST" enctype="multipart/form-data")
                        label(for="image") Voeg foto toe
                        input(type='file' required="required" name="image")
                        button(type="submit") Voeg toe
                form(action="/profiel/delete" method="POST")
                        label Delete account
                        button(type="submit") Delete
        include partials/tags.pug
        
